// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

// $primary: #d97700;
// $secondary: rgb(34, 255, 0);
// $danger: #ff36ee;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;

:root {
    font-size: 62.5%;
  }

  $primary-color: #16213e;
  $secondary-color: #c5fceb;
  $accent-color: #fec24a;
  $accent-color-two: #e52a2d;
  

  @mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }