@import "../variables";
@import "../base";

body {
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/stsci-01gfnn3pwjmy4rqxkz585bc4qh.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98vw;
  height: 100vh;

  header {
    label {
      padding: 7px 10px;
      cursor: pointer;
      margin: 25px;
      z-index: 4;
      position: fixed;

      .bar {
        display: block;
        background-color: $accent-color;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        margin: 5px auto;
        transition: background-color 0.5s ease-in, transform 0.5s ease-in,
          width 0.5s ease-in;
      }

      .arrowtop,
      .arrowbottom {
        position: absolute;
        display: block;
        opacity: 0;
        top: 23px;
        width: 15px;
        transition: 1s;

        &:focus {
          background-color: none;
        }
      }

      .arrowtop {
        transform: translate(calc(100vw), -4px) rotate(25deg);
      }

      .arrowbottom {
        transform: translate(calc(100vw), -12px) rotate(-25deg);
      }
    }

    @media (min-width:768px) {
      label {
        transform: scale(2);
        margin: 50px;
      }
      
    }

    input[type="checkbox"] {
      display: none;

      &:checked {
        ~ aside {
          left: 0%;
        }

        ~ label {
          .top {
            transform: translateY(1rem) rotate(405deg);
            background-color: $secondary-color;
          }
          .bottom {
            transform: translateY(-1rem) rotate(315deg);
            background-color: $accent-color;
          }
          .middle {
            transform: translate(calc(100vw - 65px)) scaleX(0.75);
            background-color: $accent-color;
          }
          .arrowtop {
            opacity: 1;
            transform: translate(calc(100vw - 62px), -12px) rotate(-25deg);
          }
          .arrowbottom {
            opacity: 1;
            transform: translate(calc(100vw - 62px), -4px) rotate(25deg);
          }

          @media (min-width:600px) {
            .middle {
              transform: translate(calc(100vw - 75px)) scaleX(0.75);
              background-color: $accent-color;
            }
            .arrowtop {
              opacity: 1;
              transform: translate(calc(100vw - 72px), -12px) rotate(-25deg);
            }
            .arrowbottom {
              opacity: 1;
              transform: translate(calc(100vw - 72px), -4px) rotate(25deg);
            }
          }

          @media (min-width: 768px) {
            .arrowbottom, .arrowtop {
              display: none;
            }
            
          }

          // @media (min-width:1000px) {
          //   .middle {
          //     transform: translate(calc(100vw - 105px)) scaleX(0.75);
          //     background-color: $accent-color;
          //   }
          //   .arrowtop {
          //     opacity: 1;
          //     transform: translate(calc(100vw - 102px), -12px) rotate(-25deg);
          //   }
          //   .arrowbottom {
          //     opacity: 1;
          //     transform: translate(calc(100vw - 102px), -4px) rotate(25deg);
          //   }
          // }

          // @media (min-width:1500px) {
          //   .middle {
          //     transform: translate(calc(100vw - 125px)) scaleX(0.75);
          //     background-color: $accent-color;
          //   }
          //   .arrowtop {
          //     opacity: 1;
          //     transform: translate(calc(100vw - 122px), -12px) rotate(-25deg);
          //   }
          //   .arrowbottom {
          //     opacity: 1;
          //     transform: translate(calc(100vw - 122px), -4px) rotate(25deg);
          //   }
          // }
        }
      }
    }

    aside {
      background-color: $primary-color;
      opacity: 0.9;
      position: fixed;
      top: 0;
      bottom: 0;
      left: -40%;
      width: 40%;
      z-index: 3;
      transition: 0.4s ease-in-out;

      .navbar {
        list-style: none;
        padding: 0;
        margin-top: 100px;
        text-align: right;
        border-top: 2px solid $secondary-color;

        .navitem {
          border-bottom: 2px solid $secondary-color;
          padding: 15px 10px;
          display: block;
          color: $secondary-color;
          text-decoration: none;
          font-size: 20px;
          position: relative;
          transition: color 0.3s 0.15s ease-in;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            background-color: $secondary-color;
            width: 0%;
            transition: width 0.3s ease-in;
            z-index: -1;
          }

          &:hover {
            color: $primary-color;
            &::before {
              width: 100%;
            }
          }
        }
      }

      @media (min-width:768px) {
        .navbar {
          margin-top: 150px;

          .navitem {
            font-size: 35px;
          }
        }
      }
    }

    @media (min-width:1024px) {
      aside {
        left: -25%;
        width: 25%;
      }
    }
  }
}
