* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-size: 62.5%;
}

body {
  margin: 10rem auto;
  background-color: rgb(217, 236, 252);
}

.grid-container {
  width: 80%;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "dc dc jw kw"
    "jh pa pa kw";
}

@media (max-width: 920px) {
  .grid-container {
    display: grid;
    gap: 2rem;
    grid-template-areas:
      "dc dc jw"
      "jh pa pa"
      "kw kw kw";
  }
}

@media (max-width: 600px) {
  .grid-container {
    display: grid;
    gap: 2rem;
    grid-template-areas:
      "dc"
      "jw"
      "jh"
      "pa"
      "kw";
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

.flex-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid lightblue;
}

.flex-name {
  display: flex;
  flex-direction: column;
}

.grid-item:nth-of-type(1) {
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 3rem;
  grid-area: dc;
  background-color: blueviolet;
  color: white;
}

.grid-item:nth-of-type(2) {
  grid-area: jw;
  background-color: rgb(91, 94, 130);
  color: white;
}

.grid-item:nth-of-type(3) {
  grid-area: jh;
  background-color: whitesmoke;
}

.grid-item:nth-of-type(4) {
  grid-area: pa;
  background-color: rgb(34, 34, 55);
  color: white;
}

.grid-item:nth-of-type(5) {
  grid-area: kw;
  background-color: whitesmoke;
}
